body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.navigation {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.navigation ul li {
  position: relative;
  left: 35px;
  display: inline-block;
  padding-right: 60px;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #fff;
  font-size: 170%;
}

.submenu {
  display: none;
  border-radius: 6px;
  position: absolute;
  top: 40px;
  left: -6px;
  width: 65px;
  height: 85px;
  background: #fff;
}

.submenu::before {
  position: absolute;
    content: "";
    display: inline-block;
    top: -6px;
    left: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #fff transparent;
}

.submenu li:first-child {
  position: relative;
  left: 8px;
  font-size: 80%;
  padding-top: 5px;
  color: #6b7488;
}

.submenu li:nth-child(2) {
  position: relative;
  left: 13px;
  font-size: 80%;
  padding-top: 5px;
  color: #6b7488;
}

.submenu li:last-child {
  position: relative;
  left: 15px;
  font-size: 80%;
  padding-top: 5px;
  color: #6b7488;
}

.about_item:hover>.submenu {
  display: block;
}

.about_item:hover {
  color: #263555;
}

.navigation ul li:nth-child(4) {
  position: relative;
  top: 10px;
  font-family: 'Dorsa', sans-serif;
  font-size: 350%;
  color: #263555;
}

.navigation ul li:nth-child(4)::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -34px;
  left: -22px;
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
}

.wrapper {
  width: 960px;
  padding: 30px;
  margin: 10px auto;
  background: #fff;
}

.top {
  position: relative;
  left: 940px;
  top: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #38afe5;
  text-align: center;
  line-height: 25px;
}
.top a,
.top a:visited {
  text-decoration: none;
  color: #fff;
}

.slider {
  position: relative;
}

.slider img {
  width: 960px;
  height: 580px;
}

.text_style {
  position: absolute;
  top: 220px;
  width: 225px;
  height: 60px;
  font-size: 140%;
  background: #fff;
  color: #263555;
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
  line-height: 60px;
}

.text_style1 {
  position: absolute;
  top: 280px;
  width: 275px;
  height: 60px;
  font-size: 210%;
  background: #38afe5;
  color: #fff;
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
  line-height: 60px;
}

.slider::before {
  position: absolute;
  bottom: 35px;
  left: 35px;
  content: "\2190      \2192";
  width: 70px;
  height: 70px;
  background: #38afe5;
  border-radius: 50px;
  text-align: center;
  font-size: 150%;
  color: #fff;
  line-height: 68px;
}

.destination h2 {
  color: #263555;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 180%;
  margin: 50px 0;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.flex img {
  width: 290px;
  height: 270px;
}

.card1,
.card2,
.card3 {
  position: relative;
}

.flex h4 {
  font-size: 150%;
  padding: 25px;
}

.description1,
.description2,
.description3 {
  display: none;
  position: absolute;
  bottom: 3px;
  padding: 5px;
  font-family: 'Pathway Gothic One', sans-serif;
  width: 145px;
  height: 260px;
  background-color: #193149;
  color: #fff;
  text-align: center;
  font-size: 90%;
}

.description1 button,
.description2 button,
.description3 button {
  position: absolute;
  border-radius: 5px;
  right: 10px;
  bottom: 15px;
}

.card1:hover>.description1 {
  display: block;
}

.card2:hover>.description2 {
  display: block;
}

.card3:hover>.description3 {
  display: block;
}
